.page-header {
  background: #f7f7f7; /*light grey*/
  margin-bottom: 16px;
  padding: 16px 0;
}

.page-header__actions {
  margin-top: 8px;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
}
.text-highlight {
  font-weight: 700;
}
